# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are;
1. Python
2. Java
3. Scala
4. SQL
5. Julia

Some of the commonly used libraries used by Data Scientists include;
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Keras

| Data Science Tools |
|--------------------|
| Apache Spark |
| TensorFlow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmatic expression to mulitply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives;**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List tools used for Data Science

## Author
*Matthew Diamond-Ramos*